nav {
    background-color: rgba(211, 204, 204, 0.705);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin-bottom:5px ;


}

#nav-items {
    display: flex;
    gap: 15px;
}

.list-item {
    list-style-type: none;
}
nav a {
    text-decoration: none;
    color: rgba(53, 4, 94, 0.897);
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header{
    background-image: url(../assets/images/image10.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.input-section {
    display: flex;
    justify-content: center;
    /* align-items: center; */
      position: relative;
      top: 40%;
      background-color: rgba(211, 204, 204, 0.705);
      padding: 30px;
      margin-left: 30%;
      margin-right: 30%;

}

input {
    padding: 15px;
    width: 60%;

}

#button-color {
    background-color: rgba(66, 7, 114, 0.842);
    width: 100px;
    color: rgba(236, 234, 234, 0.918);
    border: none;
    font-size: 14px;
}

/* #button-color :hover */

.main-container {
    width: 70%;
    margin: auto;
}

.main-container h1 {
    text-align: center;
    font-size: 40px;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.flex-container {
    display: flex;
    gap: 15px;
    margin-top: 40px;
}

.text-container {
    width: 50%;
    
}


.main-section {
    width: 100%;
}

.image-container img {
    width: 100%;
}

.image-container {
    width: 50%;
}

.text-container h2 {
margin-bottom: 1.5rem;
}

.text-container p{
    line-height: 1.4;
    margin-bottom: 1.2rem;
    color: rgba(10, 10, 10, 0.918);
}

.text-container a {
    color: red;
}

.home-cards {
    width: 100%;
    margin: auto;
    display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 50px;
grid-row-gap: 0px;
}

.home-item img {
    width: 100%;
}

.home-cards h1 {
    text-align: left;
    font-size: 30px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.home-cards h3 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.home-cards p {
    text-align: left;
    font-size: 16px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    line-height: 1.3;
}

.home-cards a {
    color: red;
    font-size: 16px;
}

.join-button {
    padding: 7px;
    border-style: ridge;
    color: darkslateblue;
}

.second-section {
    margin: auto;
    width: 94%;
    border: 4px;
    padding: 3px;
    background-color: rgba(0, 0, 0, 0.853);
    text-align: center;
    margin-top: 9.5%;
}
.second-section h1 {
    color: white;
    font-size: 75px;

}

.second-section p {
    color: white;
    font-size: 15px;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.second-section input {
    width: 25%;
    font-style: italic;

}

.second-section button {
    width: 13%;
    padding: 16px;
    color: white;
    background-color: red;
}

.second-button {
    margin: 5%;
    padding: 5px;
}

.section-three {
    width: 98%;
    padding: 15px;
    display: flex;
    margin: auto;
    margin-top: 8%;
}

.content-three {
    width: 58%;
    margin-left: 2.5%;

}
.content-three h1 {
    font-size: 75px;
    margin-bottom: 2%;
    margin-top: 3%;
    color: rgb(41, 19, 19);
}
.content-three p {
    color: rgba(0, 0, 0, 0.589);
    line-height: 2;
    font-size: 12;
    justify-content: center;
}

.content-three a {
    color: red;
    font-weight: bold;
    font-size: large;
    padding-top: 5%;
}
.content3-image {
    width: 40%;
    margin-left: 3%;
    margin-right: 4%;
    /* padding: auto; */
}

.main-footer {
display: flex;
background-color: black;
color: white;
padding: 10%;
margin-top: 6%;
width: 100%;
}


.footer-item {
    list-style-type: none;
    padding-top: 8%;
}

.footer-item a {
    text-decoration: none;
    color: white;
}

.footer-container {
    display: flex;
    width: 60%;
    margin-left: 5%;
    margin-right: 20%;
    line-height: 2;
    white-space: nowrap;
    display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 45px;
grid-row-gap: 0px;

}

.footer-container h4 {
    white-space: nowrap;
    font-size: large;
}
.info-footer {
    margin-right: 5%;
    width: 30%;
    border-right-style: solid;
    margin: auto;
}

.info-footer p {
    margin-bottom: 2rem;
    line-height: 2;
    text-align: left;
}

.info-footer button {
    padding: 20px;
    background-color: red;
    color: white;
}

.info-footer h1 {
    font-size: 45px;
}

.info-footer h3 {
    font-size: 25px;
}